* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

li {
  color: white;
}

header {
  width: 100%;
  height: 600px;
  background-image: url(./img/background.png);
  background-size: cover;
}
header nav {
  width: 100%;
  height: 125px;
}
header nav .nav-first {
  width: 50%;
  height: 85px;
  display: inline-block;
  margin-top: 15px;
}
header nav .nav-first img {
  margin-left: 25px;
}
header nav .nav-first h1 {
  color: #401F0C;
  display: inline-block;
  transform: translateY(-15px);
  margin-left: 5px;
}
header nav .nav-second {
  margin-top: 15px;
  width: 50%;
  height: 85px;
  float: right;
}
header nav .nav-second .nav-tepa {
  float: right;
  width: 425px;
  height: 45px;
  padding-left: 116px;
  padding-right: 25px;
}
header nav .nav-second .nav-tepa img, header nav .nav-second .nav-tepa p {
  display: inline-block;
}
header nav .nav-second .nav-tepa p {
  color: #401F0C;
  font-weight: 600;
  transform: translateY(-8.5px);
}
header nav .nav-second .nav-tepa p:hover {
  color: rgb(255, 102, 0);
  transition-duration: 1s;
  cursor: pointer;
}
header nav .nav-second .nav-past {
  float: right;
  width: 450px;
  height: 40px;
  display: flex;
  justify-content: space-evenly;
}
header nav .nav-second .nav-past li {
  display: inline-block;
}
header nav .nav-second .nav-past li a {
  margin-left: 25px;
  text-decoration: none;
  color: #401F0C;
}
header nav .nav-second .nav-past li a:hover {
  color: rgb(255, 102, 0);
  transition-duration: 0.5s;
  font-size: larger;
}
header .narx {
  display: block;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  background-color: red;
  transform: translateX(710px);
  margin-top: 230px;
}
header .narx .narx1 {
  border: white dashed;
  color: white;
  margin-left: 12.5px;
  border-radius: 50%;
  width: 125px;
  height: 125px;
}
header .narx .narx1 .h1-narx {
  margin-left: 20px;
  margin-top: 20px;
}
header .narx .narx1 .h1-text {
  margin-bottom: 10px;
  margin-left: 15px;
}
header h5 {
  width: 405px;
  height: 35px;
  font-weight: normal;
  padding-top: 8px;
  text-align: center;
  color: #401F0C;
  border: #401F0C dashed;
  display: inline-block;
  transform: translateY(-335px);
  margin-left: 25px;
}
header .head-text {
  font-size: 100px;
  margin-left: 25px;
  font-weight: 900;
  color: #401F0C;
  transform: translateY(-340px);
  font-family: serif;
}
header .head-text1 {
  margin-left: 25px;
  color: #401F0C;
  font-family: serif;
  font-weight: 900;
  font-size: 50px;
  transform: translateY(-350px);
}

.center {
  width: 100%;
}
.center .always {
  width: 100%;
  height: 425px;
}
.center .always .always-tepa {
  width: 100%;
  height: 85%;
  display: flex;
}
.center .always .always-tepa .always-ong, .center .always .always-tepa .always-chap {
  width: 50%;
  height: 100%;
}
.center .always .always-tepa .ong-div {
  background-image: url(./img/Burger.png);
  background-size: cover;
  width: 425px;
  height: 300px;
  float: right;
  margin-top: 25px;
  margin-right: 15px;
}
.center .always .always-tepa .ong-div p {
  color: white;
  margin-top: 10px;
  margin-left: 20px;
}
.center .always .always-tepa .ong-div h3 {
  margin-left: 20px;
  color: white;
  margin-top: 5px;
}
.center .always .always-tepa .chap-img, .center .always .always-tepa .chap-img1 {
  width: 425px;
  height: 137px;
  margin-top: 25px;
  border-radius: 10px;
}
.center .always .always-tepa .chap-img {
  background-image: url(./img/bg.png);
  background-size: cover;
  padding-top: 10px;
}
.center .always .always-tepa .chap-img p {
  color: white;
  margin-left: 20px;
}
.center .always .always-tepa .chap-img h3 {
  margin-left: 20px;
  color: white;
}
.center .always .always-tepa .chap-img1 {
  background-image: url(./img/freshchili.png);
  background-size: cover;
  background-position-y: -62.5px;
  padding-top: 10px;
}
.center .always .always-tepa .chap-img1 p {
  color: white;
  margin-left: 20px;
}
.center .always .always-tepa .chap-img1 h3 {
  color: white;
  margin-left: 20px;
  margin-top: 5px;
}
.center .always .always-past {
  width: 100%;
  height: 15%;
}
.center .always .always-past a {
  padding-top: 8px;
  margin-top: 5px;
  width: 215px;
  height: 40px;
  text-align: center;
  color: #401F0C;
  background-color: #FFC136;
  text-decoration: none;
  margin-left: 500px;
  display: inline-block;
  border-radius: 50pc;
}
.center .always .always-past a:hover {
  color: #FFC136;
  background-color: #401F0C;
  transition-duration: 1s;
  box-shadow: 5px 5px 25px 5px #FFC136;
  border-radius: 50pc;
}
.center .choose {
  width: 100%;
}
.center .choose .choose-tepa h1 {
  text-align: center;
  color: #401F0C;
  font-family: serif;
  font-size: 50px;
}
.center .choose .choose-tepa p {
  text-align: center;
  width: 900px;
  margin-left: 135px;
  margin-top: 15px;
}
.center .choose .choose-past {
  width: 100%;
  display: flex;
  padding: 25px;
}
.center .choose .choose-past .choose {
  margin-top: 15px;
  width: 33.3%;
  height: 568px;
}
.center .choose .choose-past .first .first-top, .center .choose .choose-past .second .first-top, .center .choose .choose-past .third .first-top {
  width: 100%;
  height: 388px;
  background-image: url(./img/Burger2.png);
  background-size: cover;
  background-position-x: -32px;
}
.center .choose .choose-past .first .first-bottom, .center .choose .choose-past .second .first-bottom, .center .choose .choose-past .third .first-bottom {
  width: 100%;
  height: 180px;
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
}
.center .choose .choose-past .first .first-bottom h2, .center .choose .choose-past .second .first-bottom h2, .center .choose .choose-past .third .first-bottom h2 {
  color: #401F0C;
  margin-top: 10px;
}
.center .choose .choose-past .first .first-bottom p, .center .choose .choose-past .second .first-bottom p, .center .choose .choose-past .third .first-bottom p {
  margin-top: 10px;
}
.center .choose .choose-past .first .first-bottom li a, .center .choose .choose-past .second .first-bottom li a, .center .choose .choose-past .third .first-bottom li a {
  display: inline-block;
  text-decoration: none;
  font-weight: 700;
  background-color: red;
  color: white;
  font-family: serif;
  padding-top: 7px;
  width: 150px;
  height: 35px;
  margin-top: 25px;
}
.center .choose .choose-past .first .first-bottom li a:hover, .center .choose .choose-past .second .first-bottom li a:hover, .center .choose .choose-past .third .first-bottom li a:hover {
  color: red;
  background-color: white;
  border-radius: 10px;
  border: solid red;
  transition-duration: 1s;
  box-shadow: 5px 5px 25px 5px red;
}
.center .choose .choose-past .second .second-top {
  width: 100%;
  height: 388px;
  background-size: cover;
  background-position-x: -32px;
  background-image: url(./img/Burger3.png);
}
.center .discover {
  width: 1100px;
  height: 450px;
  margin: 50px auto;
  box-shadow: 5px 5px 15px 5px rgb(227, 215, 215);
}
.center .discover h3 {
  display: inline-block;
  margin-left: 50px;
  margin-top: 50px;
}
.center .discover h1 {
  display: inline-block;
  color: #401F0C;
  transform: translateY(40px);
  margin-left: -105px;
}
.center .discover p {
  display: inline-block;
  width: 450px;
  margin-left: -320px;
  transform: translateY(150px);
  opacity: 0.8;
}
.center .discover .bolim {
  width: 100px;
  height: 25px;
  transform: translateY(215px);
  margin-left: 50px;
  display: flex;
  justify-content: space-around;
}
.center .discover .bolim .bir, .center .discover .bolim .ikki, .center .discover .bolim .uch {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.center .discover .bolim .bir {
  background-color: #FFC136;
}
.center .discover .bolim .ikki, .center .discover .bolim .uch {
  background-color: grey;
}
.center .discover .img {
  float: right;
  width: 500px;
  height: 325px;
  margin-right: 25px;
  margin-top: -65px;
  background-image: url(./img/Burger&Free.png);
  background-size: cover;
}
.center .reservation {
  width: 100%;
}
.center .reservation .reser-img {
  width: 248px;
  height: 280px;
  transform: translateY(-65px);
  position: absolute;
  background-image: url(./img/Burger4.png);
  background-size: 250px 317px;
}
.center .reservation .reser-img1 {
  width: 150px;
  height: 300px;
  transform: translateY(165px);
  margin-left: 75px;
  position: absolute;
  background-image: url(./img/Bottle.png);
  background-size: 200px 350px;
}
.center .reservation .reser-img2 {
  transform: translateX(1033px);
  margin-top: 175px;
  width: 225px;
  height: 425px;
  position: absolute;
  background-image: url(./img/Free.png);
  background-size: 250px 516px;
}
.center .reservation h3 {
  text-align: center;
  color: #401F0C;
}
.center .reservation h1 {
  text-align: center;
  color: #401F0C;
  font-family: serif;
  font-size: 50px;
  margin-top: 15px;
  font-weight: 1500px;
}
.center .reservation .reser-bottom {
  height: 500px;
}
.center .reservation .reser-bottom .input-div {
  margin-left: 225px;
  margin-top: 105px;
  display: inline-block;
}
.center .reservation .reser-bottom .input-div input {
  padding-left: 25px;
  margin-top: 25px;
  display: block;
  width: 400px;
  height: 50px;
}
.center .reservation .reser-bottom .input-div input:hover {
  border: solid grey;
  box-shadow: 5px 5px 25px 5px grey;
  transition-duration: 1s;
}
.center .reservation .reser-bottom .input-div1 {
  margin-right: 200px;
  margin-top: 105px;
  display: inline-block;
}
.center .reservation .reser-bottom .input-div1 input {
  display: block;
  padding-left: 25px;
  margin-top: 25px;
  width: 400px;
  height: 50px;
}
.center .reservation .reser-bottom .input-div1 input:hover {
  border: solid grey;
  box-shadow: 5px 5px 25px 5px grey;
  transition-duration: 1s;
}
.center .reservation .reser-bottom .input-div1 .btn {
  background-color: red;
  color: white;
  font-size: larger;
  font-family: serif;
  border: white solid;
  border-radius: 5px;
}
.center .reservation .reser-bottom .input-div1 .btn:hover {
  color: red;
  background-color: #fff;
  border: solid red;
  transition-duration: 1s;
  border-radius: 10px;
  box-shadow: 5px 5px 25px 5px red;
}

footer {
  width: 100%;
}
footer .footer {
  width: 1150px;
  height: 450px;
  margin: 50px auto;
  background-image: url(./img/backgroundfooter.png);
  background-size: cover;
  display: flex;
}
footer .footer .foot-one, footer .footer .foot-two {
  width: 50%;
  height: 100%;
}
footer .footer .foot-one {
  padding-top: 50px;
}
footer .footer .foot-one img {
  margin-left: 25px;
}
footer .footer .foot-one h1 {
  color: white;
  display: inline-block;
  transform: translateY(-15px);
  margin-left: 5px;
}
footer .footer .foot-one .foot-text {
  display: inline-block;
  width: 450px;
  margin-left: 25px;
  color: white;
  margin-top: 35px;
  opacity: 0.8;
}
footer .footer .foot-one .foot-matn {
  opacity: 0.8;
  margin-left: 25px;
  color: #fff;
  margin-top: 175px;
}
footer .footer .foot-two .foot-div {
  margin-top: 165px;
  float: right;
  width: 450px;
  height: 125px;
}
footer .footer .foot-two .foot-div p {
  color: white;
  opacity: 0.8;
  display: inline-block;
  transform: translateY(-10px);
}
footer .footer .foot-two .foot-div .two {
  margin-top: 10px;
}
footer .footer .foot-two .foot-div .two p {
  opacity: 0.8;
}
footer .footer .foot-two .icon {
  width: 150px;
  height: 35px;
  margin-top: 135px;
  margin-left: 275px;
}
footer .footer .foot-two .icon img {
  cursor: pointer;
}
footer .footer .foot-two .icon img:hover {
  border-radius: 50pc;
  background-color: rgb(255, 102, 0);
  transition-duration: 0.5s;
}/*# sourceMappingURL=stil.css.map */